<!DOCTYPE html>
<html lang="en">
<head>
    <title>Motorcycle Display</title>
</head>
<body>
    <h1>Motorcycle Display</h1>
    <div id="app">
        <p>Type in the source and destination address of your trip.</p>
        
        <label for="source">Source</label>
        <input type="text" v-model="source.query" />
        <p>{{ source.match.placeName }}</p>

        <label for="destination">Destination</label>
        <input type="text" v-model="destination.query" />
        <p>{{ destination.match.placeName }}</p>

        <button v-if="hasCoordinates" v-on:click="getDirections()">Get Directions</button>
        <button v-if="!hasCoordinates" v-on:click="removeCurrentTrip">Remove current trip</button>

        <template v-if="tripTransmitted">
            <hr />
            <p>The trip was stored and can be downloaded.</p>
            <p>Length: {{trip.status.distance}} km<br />Duration: {{trip.status.duration}} min</p>
        </template>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        var mapboxAccessToken = '---';
        var app = new Vue({
            el: '#app',
            data: {
                source: {
                    query: '',
                    match: {}
                },
                destination: {
                    query: '',
                    match: {}
                },
                trip: {},
                tripTransmitted: false
            },
            watch: {
                    'source.query': function() {
                        this.debouncedGeocoding('source')
                    },
                    'destination.query': function() {
                        this.debouncedGeocoding('destination');
                    }
            },
            created: function() {
                this.debouncedGeocoding = _.debounce(this.geocode, 500);
            },
            methods: {
                geocode: function(type) {
                    var path = 'https://api.mapbox.com/geocoding/v5/mapbox.places/' + this[type].query + '.json?access_token=' + mapboxAccessToken;
                    var vm = this;
                    axios.get(path)
                        .then(function(r) {
                            if (r.status === 200 && typeof r.data.features !== 'undefined') {
                                vm[type].match = {
                                    placeName: r.data.features[0].place_name,
                                    coordinates: {
                                        lat: r.data.features[0].center[1],
                                        long: r.data.features[0].center[0]
                                    }
                                }
                            }
                            else {
                                vm[type].match = {}
                            }
                        })
                        .catch(function(e) {
                            console.log('Error while contacting Mapbox.');
                            console.log(e);
                        })
                },
                getDirections: function() {

                    this.tripTransmitted = false;

                    var path = 'https://api.mapbox.com/directions/v5/mapbox/driving/' +
                                this.source.match.coordinates.long + ',' + this.source.match.coordinates.lat + ';' +
                                this.destination.match.coordinates.long + ',' + this.destination.match.coordinates.lat + '?' +
                                'steps=true&access_token=' + mapboxAccessToken;

                    var obj = this;
                    axios.get(path)
                        .then(function(r) {
                            if (r.status === 200) {
                                obj.trip.status = {
                                    distance: r.data.routes[0].distance / 1000,
                                    duration: r.data.routes[0].duration / 60
                                };

                                obj.trip.steps = [];
                                for(var n in r.data.routes[0].legs[0].steps) {
                                    var step = r.data.routes[0].legs[0].steps[n];
                                    obj.trip.steps.push({
                                        location: {
                                            lat: step.maneuver.location[1],
                                            long: step.maneuver.location[0]
                                        },
                                        instruction: step.maneuver.instruction,
                                        bearingBefore: step.maneuver.bearing_before,
                                        bearingAfter: step.maneuver.bearing_after,
                                        bearings: step.intersections[0].bearings,
                                        type: step.maneuver.type,
                                        address: (step.maneuver.type === 'arrive' ? obj.destination.match.placeName : '')
                                    });
                                }

                                // Post
                                axios.post('save_trip.php', {trip: JSON.stringify(obj.trip)})
                                    .then(function(res) {
                                        obj.tripTransmitted = true;
                                    })
                                    .catch(function(err) {
                                        console.log(err);
                                    });
                            }
                        })
                        .catch(function(e) {
                            console.log('Error while contacting Mapbox.');
                            console.log(e);
                        });
                },
                removeCurrentTrip: function() {
                    axios.post('save_trip.php', {trip: ''})
                                    .then(function(res) {
                                        alert('Trip deleted');
                                    })
                                    .catch(function(err) {
                                        console.log(err);
                                    });
                }
            },
            computed: {
                hasCoordinates: function() {
                    if (typeof this.source.match.placeName !== 'undefined' && typeof this.destination.match.placeName !== 'undefined') {
                        return true;
                    }
                    return false;
                }
            }
        });
    </script>
</body>
</html>